*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: cadetblue;
  padding: 30px;
  text-align: center;
  color: beige;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
  text-decoration: underline;
}

.container{
  width: 80%;
  min-height: 100px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  background-color: darkcyan;
  border-radius: 20px;
}

.box{
  width: 100px;
  height: 100px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkorange;
  border-radius: 20px;
  font-size: 1.2rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:beige;
  font-weight: bold;
  box-shadow: 5px 5px 10px rgb(88, 77, 99) inset;
}

.fizz-buzz-box{
  background-color:rgb(202, 182, 221);
  color:rgb(71, 19, 121);
}

.fizz-box{
  background-color:antiquewhite;
  color:rgb(73, 127, 129);
}

.buzz-box{
  background-color: rgb(71, 19, 121);
  color:beige;
  box-shadow: 5px 5px 10px rgb(60, 53, 68) inset;
}


.box:hover{
  transform: scale(0.9);
  transition: 0.3s;
  box-shadow: 0;
}